<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Game Design @ UVA CS</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>We are a dedicated group of faculty and students interested in game design, game technology, gamification, and games for good. Our courses introduce students to video game design and production at various levels. </p>
      </div>
      <div class="col-lg-4">
        <p>The games on this page were created by students in CS 4730, CS 2501, and SLAV 2500.</p>
      </div>
      
    </div>
  </div>
</section>
