<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About CS 4730</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Our course is an introductory course in video game design and production. We will focus on both the design and technical aspects of creating a game, from concept inception and prototyping through coding and playtesting.</p>
      </div>
      <div class="col-lg-4">
        <p>These games were all created as the final project for the class in teams of 2-6 students.  For more information about the course, please go to http://www.cs4730.org.</p>
      </div>
      
    </div>
  </div>
</section>
