<!-- Courses Section -->
<section id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our Courses</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div >
        <h3>CS 4730: Computer Game Design</h3>
        <em>This course will introduce students to the concepts and tools used in the development of modern 2-D and 3-D real-time interactive computer video games. Topics covered in this include graphics, parallel processing, human-computer interaction, networking, artificial intelligence, and software engineering.</em> -SIS Course Description<br/><br/>

Our primary course for video game design and production intended for computing majors. We focus on both the design and technical aspects of creating a game, from concept inception and prototyping through coding and playtesting.<br/><br/>

Upon successful completion of this course, students will:
<ul>
    <li>Understand the social and ethical context in which video games are developed, marketed, and played;</li>
    <li>Understand the technologies and platforms upon which modern interactive video games are developed;</li>
    <li>Understand the software engineering concepts necessary to develop video games (and other large systems) in a large development group;</li>
    <li>Comprehend the computational theory used in video games design, as well as, to a lesser extent, related fields (artificial intelligence, computer graphics, networks, etc.);</li>
    <li>Understand the theoretical topic of game theory, and how that applies to multi-player games (and, to a lesser extent, artificial intelligence).</li>
</ul>
<strong>Next offering: Spring 2026 with Prof. Robbie Hott</strong>

      </div>
      <div>
        <h3>SLAV 2500: Bits & Bytes: Exploring Vampires in Video Games</h3>
        This class explores the origins of the vampire in the world of video games and how original folklore, over time, was altered. This includes an overview of the vampire’s movement into popular culture from old belief, how it first entered video games, and the most culturally significant games starting in the late 1970s and entering the modern era. Students will have the opportunity to explore both literature and video games to analyze how vampires and the lore surrounding them is represented and, through this, create a final portfolio that includes a literature and game review and a game they make themselves.<br><br>
       <strong>Next offering: Spring 2027 with Prof. Stan Stepanic and Prof. Mark Sherriff</strong> 
      </div>
      <div>
        <h3>CS 2993: Independent Study - Game Design Reading Group</h3>
        GDRG is an independent study course where students will play selected games, read topics in game design, and then meet once a week in a small group to discuss. Topics may include game mechanics, storytelling, level design, user experience, and emerging trends in the gaming industry. Students will engage in critical analysis of games and participate in discussions to deepen their understanding of game design principles.  There will be required games to play and various readings outside of class to facilitate discussion.  Some games will be provided, but students may be expected to purchase some games on their own depending on the topics covered.<br><br>
        <strong>Next offering: Spring 2026 with Prof. Mark Sherriff and friends</strong><br><strong>Students must request permission to enroll through SIS and also <a href="https://docs.google.com/forms/d/e/1FAIpQLSdBt875dVCrsAFOZOoKCx3cSHRtYPh4b1bavaC21U_8LfsQfg/viewform?usp=header">complete this Google form.</a></strong>
        
      </div>
      <div >
        <h3>CS 2501: Introduction to Game Programming and Design</h3>
        This course is an introductory course in video game design and production. We will focus on both the design and technical aspects of creating a game, from concept inception and prototyping through coding and playtesting.  It is only offered as a special topics course on an occasional basis.
      </div>

    </div>
  </div>
</section>
